<%- include('partials/header'); %>
<% var username = user.name%>
<h1><%=username%></h1>
<img  src="<%= user.image %>" alt="">
<p><%= user.email%></p>

<a style="margin:.3em" class="btn btn-dark btn-lg" href="/" role="button">Back to Home</a>
<a style="margin:.3em" class="btn btn-warning btn-lg" href="/edit-form/user/<%= user.id%>" role="button">Edit User</a>

<%- include('partials/footer'); %>